{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Woola{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Derek Lin">

    {% block css %}
    <!-- CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- Latest compiled and minified Foundation CSS -->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <!-- Your stuff: Third-party css libraries go here -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- Your stuff: Third-party javascript libraries go here -->
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="large-3 columns">
          <h1>WOOLA</h1>
        </div>
        <div class="large-9 columns">
          <nav class="navbar">
            <ul class="right">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              {% if request.uthenticated %}
              <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
              <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
              {% else %}
              <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
              <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="hero">
      <div class="row">
        <div class="large-12 columns">
          <i class="fa fa-gift fa-5x"></i>
          <p>Woola is my one of pet projects.  It's a great tool to track your favorite item when it goes on sale.</p>
          <a href="#" class="button radius info">Why Me</a>
        </div>
      </div>
    </section>

    <main>
      <div class="row">
        <div class="large-12 columns">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        </div>
      </div>
      <br>
      {% block content %}
      {% endblock content %}
    </main>
    {% block modal %}
    {% endblock modal %}

    <footer>
        <div class="row">
          <div class="small-12 columns">
            <hr>
          </div>
          <div class="small-12 columns">
            <nav>
             <ul>
               <li><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'about' %}">About</a></li>
               {% if request.uthenticated %}
               <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
               <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
               {% else %}
               <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
               <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
               {% endif %}
             </ul>
            </nav>
          </div>
          <div class="small-12 columns">
            <p class="copyright text-center">Copyright &copy; {% now "Y" %}</p>
          </div>
        </div>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block jquery %}
      <!-- Latest JQuery -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endblock %}

    {% block angular %}
      <!-- Latest AngularJS -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    {% endblock %}

    {% block foundation %}
      <!-- Latest minified Foundation javascript -->
      <script src="{% static 'js/foundation.min.js' %}"></script>
    {% endblock %}

    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>

